body {
	background: url('img/background.jpg') no-repeat;
	background-size: cover;
}

#canvas {
	width: 400px;
	height: 500px;
	float: left;
}

.btn-control {
    float: left;
    text-align: center;
    width: 50%;
}

canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}