body {
	background: url('img/background.jpg') no-repeat;
	background-size: cover;
}

#canvas {
	width: 400px;
	height: 500px;
	float: left;
}

.btn-control {
    float: left;
    text-align: center;
    width: 50%;
}

canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}

.myButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
